<div class="tabs">
    <div class="tab-list">
        <div (click)="pick$.next(tab)" *ngFor="let tab of tabs" [class.active]="tab.active" class="tab">
            {{tab.name}}
        </div>
    </div>
    <div class="tab-content">
        <div *ngFor="let tab of tabs">
            <ng-container *ngIf="tab.active">
                <div>
                    <ng-container *ngTemplateOutlet="tab.templateRef"></ng-container>
                </div>
            </ng-container>
        </div>
    </div>
</div>
