<div class="tabs">
    <div class="tab-list" *ngFor="let tab of tabs" [class.active]="tab.active == true">
        {{tab.active}}
        {{tab.active === true}}
        <div class="tab" (click)="pick.next(tab)">{{tab.name}}</div>
    </div>
    <div class="tab-content">
        <ng-container *ngFor="let tab of tabs">
            <ng-container *ngIf="tab.active">
                <ng-container *ngTemplateOutlet="tab.templateRef"></ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>
