.tab {
  cursor: pointer;
  border: 1px solid black;
  display: inline-block;
  vertical-align: center;
}

.tab:hover {
  color: white;
  background: grey;
}

.active {
  color: white;
  background: black;
}
