<div id="panel">
    <label for="openFileBtn" class="file-label open-icon-label">
        Open mozlz4 file
        <input id="openFileBtn" (change)="openMozLz4File.emit($event.target)" type="file" accept=".lz4,.mozlz4,.jsonlz4,.baklz4,.json">
    </label>
    <button (click)="saveAsMozLz4File.emit()">Save as mozlz4</button>
    <button (click)="saveAsMozLz4FileWithDialogue.emit()">Save as mozlz4 (dialogue)</button>
    <button (click)="saveAsJsonFile.emit()">Save as JSON</button>
    <button (click)="saveAsJsonFileWithDialogue.emit()">Save as JSON (dialogue)</button>
    <button (click)="openTxtInNewTab.emit()">Open in a new tab</button>
    <button (click)="formatJson.emit()">Format JSON</button>
    <button (click)="modalService.show(addEngineModalName)">Add search engines</button>
    <button (click)="modalService.show(optionModalName)">Options</button>
</div>
