<form [formGroup]="engineForm">
    <div class="add-engine-sub-block">
        <label>
            Name
            <input type="text" formControlName="name">
        </label>
    </div>
    <div class="add-engine-sub-block">
        <label>
            <div>URL</div>
            <input type="text" formControlName="url">
        </label>
    </div>
    <div class="add-engine-sub-block">
        <div>
            <label>
                <div>Icon</div>
                <input type="text" formControlName="icon">
            </label>
        </div>
        <div>
            <img class="engine-add-icon-input-img"
                 [src]="domSanitizer.bypassSecurityTrustResourceUrl(engineForm.controls['icon'].value)"
                 width="23"
                 height="23">
            <input type="text" formControlName="iconTxt" placeholder="Icon text">
            <button (click)="engineForm.patchValue({icon:'', iconTxt: ''})">Clear icon</button>
            <label class="file-label">
                <span>Pick icon</span>
                <input (change)="pickIcon($event.target)" type="file"
                       accept=".png,.icon,.ico,.svg,.jpg,.jpeg,.bpm,.gif,.xpm">
            </label>
            <button (click)="add()">Add</button>
        </div>
    </div>
    <div *ngIf="engine.params" class="add-engine-param-block">
        <div *ngFor="let param of engine.params; index as i">
            <app-multi-select (selected)="selected($event)" [entries]="param.values"></app-multi-select>

            <div class="add-engine-param-block-name">
                <span class="add-engine-param-block-name-title-key">Name:</span>
                <span class="add-engine-param-block-name-title-value">{{param.name}}</span>
                <span class="add-engine-param-block-name-param-key">Parameter:</span>
                <span class="add-engine-param-block-name-param-value">Parameter: {{param.param}}</span>
            </div>
            {{param.name}} {{param.param}}
            <div *ngIf="!param.multiAnd && !param.multiOr">
                <select (change)="updUrlWithParams()" #multiSelect formControlName="oneMultiSelect" multiple="multiple"
                        [attr.data-control]="'oneMultiSelect'"
                        [attr.data-multi]="false"
                        [attr.data-name]="param.param"
                        [attr.data-and-or-divider]="param.multiAndOrDivider"
                >
                    <option *ngFor="let value of param.values" [value]="value.value">{{value.name}} ({{value.value}})
                    </option>
                </select>
            </div>
            <div *ngIf="param.multiAnd">
                <select (change)="updUrlWithParams()" #multiSelect formControlName="andMultiSelect" multiple="multiple"
                        [attr.data-control]="'andMultiSelect'"
                        [attr.data-multi]="true"
                        [attr.data-name]="param.param"
                        [attr.data-divider]="param.multiAndDivider"
                        [attr.data-and-or-divider]="param.multiAndOrDivider"
                >
                    <option *ngFor="let value of param.values" [value]="value.value">{{value.name}} ({{value.value}})
                    </option>
                </select>
            </div>
            <div *ngIf="param.multiOr">
                <select (change)="updUrlWithParams()" #multiSelect formControlName="orMultiSelect" multiple="multiple"
                        [attr.data-control]="'orMultiSelect'"
                        [attr.data-multi]="true"
                        [attr.data-name]="param.param"
                        [attr.data-divider]="param.multiOrDivider"
                        [attr.data-and-or-divider]="param.multiAndOrDivider"
                >
                    <option *ngFor="let value of param.values" [value]="value.value">{{value.name}} ({{value.value}})
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>
