<form [formGroup]="engineForm">
    <div>
        <label>
            Name
            <input formControlName="name" type="text">
        </label>
    </div>
    <div>
        <label>
            <div>URL</div>
            <input formControlName="url" type="text">
        </label>
    </div>
    <div>
        <div>
            <label>
                <div>Icon</div>
                <input formControlName="icon" type="text">
            </label>
        </div>
        <div>
            <img [src]="domSanitizer.bypassSecurityTrustResourceUrl(engineForm.controls['icon'].value)"
                 height="23"
                 width="23">
            <input formControlName="iconTxt" placeholder="Icon text" type="text">
            <button (click)="engineForm.patchValue({icon:'', iconTxt: ''})">Clear icon</button>
            <label>
                <span>Pick icon</span>
                <input (change)="pickIcon($event.target)" accept=".png,.icon,.ico,.svg,.jpg,.jpeg,.bpm,.gif,.xpm"
                       type="file">
            </label>
            <button (click)="add()">Add</button>
        </div>
    </div>
    <div *ngIf="engine.params">
        <div *ngFor="let param of engine.params; index as i">
            <app-multi-select (targetSelected)="selected($event)" [sourceEntries]="param.values"></app-multi-select>


            <div>
                <span>Name:</span>
                <span>{{param.name}}</span>
                <span>Parameter:</span>
                <span>Parameter: {{param.param}}</span>
            </div>
            {{param.name}} {{param.param}}
            <div *ngIf="!param.multiAnd && !param.multiOr">

            </div>
            <div *ngIf="param.multiAnd">

            </div>
            <div *ngIf="param.multiOr">

            </div>
        </div>
    </div>
</form>
