.add-engine-sub-block {
  label,
  input[type="text"] {
    width: calc(100%);
  }
}

.add-engine-param-block-name-title-key,
.add-engine-param-block-name-param-key {
  font-weight: bold;
  padding-right: 10px;
}

.add-engine-param-block-name-title-value,
.add-engine-param-block-name-param-value {
  padding-right: 10px;
}