<div class="multi-select">
    <input [(ngModel)]="searchQuery" class="multi-select-search" type="text">
    <div class="multi-select-container">
        <select (ngModelChange)="sourceSelect()"
                [(ngModel)]="sourceSelected"
                class="multi-select-entries-panel multi-select-entries-panel-source" multiple>
            <ng-container *ngFor="let entry of sourceEntries">
                <ng-container *ngIf="searchPredicate(entry)">
                    <option [attr.selected]="entry.selected ? 'selected' : null"
                            [disabled]="entry.selected"
                            [ngClass]="{'multi-select-selected': entry.selected}"
                            [value]="entry"
                            class="multi-select-entry">{{entry.name}} ({{entry.value}})
                    </option>
                </ng-container>
            </ng-container>
        </select>
        <select class="multi-select-entries-panel multi-select-entries-panel-target"
                multiple>
            <option (click)="unpick(entry)"
                    *ngFor="let entry of sourceEntries"
                    [attr.selected]="entry.selected ? null : 'selected'"
                    [hidden]="!entry.selected"
                    [value]="entry"
                    class="multi-select-entry">{{entry.name}} ({{entry.value}})
            </option>
        </select>
    </div>
</div>