<div (click)="closed = true; modalClosed.emit(); modalService.hide()" class="outlet-popup">
    <div (click)="$event.stopPropagation()" class="overlay">
        <div class="popup">
            <a (click)="closed = true; modalClosed.emit(); modalService.hide()" class="close">&times;</a>
            <div class="title">
                <ng-content select="app-title"></ng-content>
            </div>
            <h3 class="text-center">
                <ng-content select="app-header"></ng-content>
            </h3>
            <div class="content">
                <ng-content select="app-content"></ng-content>
            </div>
            <div class="footer">
                <ng-content select="app-footer"></ng-content>
            </div>
        </div>
    </div>
</div>
