.outlet-popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px 0 20px 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay {
  background-color: white;
  margin: auto;
  width: 80%;
  padding: 0 10px 0 10px;
  height: calc(100vh - 160px);
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}