<div class="multi-select">
    <input type="text" class="multi-select-search">
    <div class="multi-select-container">
        <select [(ngModel)]="selected" (change)="select($event)" multiple class="multi-select-entries-panel multi-select-entries-panel1">
            <option *ngFor="let entry of entries" value="{{entry.value}}"
                    class="multi-select-entry">{{entry.name}} ({{entry.value}})</option>
        </select>
        <select multiple class="multi-select-entries-panel multi-select-entries-panel2">
            <option *ngFor="let entry of entries" value="{{entry.value}}"
                    class="multi-select-entry">{{entry.name}} ({{entry.value}})</option>
        </select>
    </div>
</div>