<div class="multi-select">
    <input [(ngModel)]="searchQuery" type="text" class="multi-select-search">
    <div class="multi-select-container">
        <select [(ngModel)]="sourceSelected"
                (ngModelChange)="sourceSelect()"
                multiple class="multi-select-entries-panel multi-select-entries-panel-source">
            <ng-container *ngFor="let entry of sourceEntries">
                <ng-container *ngIf="searchPredicate(entry)">
                    <option [value]="entry"
                            [disabled]="entry.selected"
                            [attr.selected]="entry.selected ? 'selected' : null"
                            [ngClass]="{'multi-select-selected': entry.selected}"
                            class="multi-select-entry">{{entry.name}} ({{entry.value}})</option>
                </ng-container>
            </ng-container>
        </select>
        <select multiple
                class="multi-select-entries-panel multi-select-entries-panel-target">
            <option *ngFor="let entry of sourceEntries"
                    (click)="unpick(entry)"
                    [value]="entry"
                    [hidden]="!entry.selected"
                    [attr.selected]="entry.selected ? null : 'selected'"
                    class="multi-select-entry">{{entry.name}} ({{entry.value}})</option>
        </select>
    </div>
</div>