<app-modal>
    <app-header>Options</app-header>
    <app-content>
        <div>
            <button (click)="save()">Accept (save)</button>
            <button (click)="reset()">Reset</button>
            <button (click)="formatJson()">Format JSON</button>
            <button (click)="exportAsJson()">Export (unload)</button>
            <button (click)="exportAsJsonWithDialogue()">Export (unload with dialogue)</button>
            <button (click)="importByUrl()">Import by URL (load by URL)</button>
            <button (click)="openInNewTab()">Open in new tab</button>
            <div>
                <label for="openEngineOptionFileBtn" class="file-label open-icon-label">
                    Import (load by file)
                    <input id="openEngineOptionFileBtn" (change)="importByFile($event.target)" type="file" accept=".json">
                </label>
            </div>
        </div>
        <div id="engineListTextareaWrapper">
            <textarea id="engineListTextarea"
                      [(ngModel)]="engines"
                      spellcheck="false"
                      [readOnly]="optionReadonly"></textarea>
        </div>
    </app-content>
</app-modal>