<app-modal>
    <app-header>Options</app-header>
    <app-content>
        <div>
            <button (click)="save()">Accept (save)</button>
            <button (click)="reset()">Reset</button>
            <button (click)="formatJson()">Format JSON</button>
            <button (click)="exportAsJson()">Export (unload)</button>
            <button (click)="exportAsJsonWithDialogue()">Export (unload with dialogue)</button>
            <button (click)="importByUrl()">Import by URL (load by URL)</button>
            <button (click)="openInNewTab()">Open in new tab</button>
            <div>
                <label class="file-label open-icon-label" for="openEngineOptionFileBtn">
                    Import (load by file)
                    <input (change)="importByFile($event.target)" accept=".json" id="openEngineOptionFileBtn"
                           type="file">
                </label>
            </div>
        </div>
        <div id="engineListTextareaWrapper">
            <textarea [(ngModel)]="engines"
                      [readOnly]="optionReadonly"
                      id="engineListTextarea"
                      spellcheck="false"></textarea>
        </div>
    </app-content>
</app-modal>