@import '~normalize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body,
.container,
#archiver {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#archiver {
  display: flex;
  flex-direction: column;
}

#editor {
  height: 100%;
}

#editorTextarea {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;

  white-space: pre;
  outline: none;
  background-color: black;
  color: white;
}

.menu {
  background-color: black;
  color: white;
  border-bottom: white 1px solid;
}

.menu button {
  background: black;
  color: white;
}

.menu button:hover {
  background: white;
  color: black;
}

.content {
  flex-grow: 1;
}
