#editorTextarea {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;

  white-space: pre;
  outline: none;
  background-color: black;
  color: white;
}

textarea::placeholder {
  color: white;
  opacity: 1
}
