<div id="archiver">
    <app-panel (openMozLz4File)=openMozLz4File($event)
               (saveAsMozLz4File)="saveAsMozLz4File()"
               (saveAsMozLz4FileWithDialogue)="saveAsMozLz4FileWithDialogue()"
               (saveAsJsonFile)="saveAsJsonFile()"
               (saveAsJsonFileWithDialogue)="saveAsJsonFileWithDialogue()"
               (formatJson)="formatJson()"
               (openTxtInNewTab)="openTxtInNewTab()"
               class="menu"></app-panel>
    <app-editor [(engines)]="engines" class="content"></app-editor>
</div>
