<div class="outlet-popup" (click)="closed = true; modalClosed.emit(); modalService.hide()">
    <div class="overlay" (click)="$event.stopPropagation()">
        <div class="popup">
            <div class="title">
                <ng-content select="app-title"></ng-content>
            </div>
            <h3 class="text-center">
                <ng-content select="app-header"></ng-content>
            </h3>
            <a class="close" (click)="closed = true; modalClosed.emit(); modalService.hide()">&times;</a>
            <div class="content">
                <ng-content select="app-content"></ng-content>
            </div>
            <div class="footer">
                <ng-content select="app-footer"></ng-content>
            </div>
        </div>
    </div>
</div>
