.outlet-popup .popup .button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.outlet-popup .popup .button:hover {
  background: #06D85F;
}

.outlet-popup .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}
.outlet-popup .overlay {
  visibility: visible;
  opacity: 1;
}

.outlet-popup .popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 80%;
  max-width: 1036px;
  position: relative;
  transition: all 5s ease-in-out;
}

.outlet-popup .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.outlet-popup .popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.outlet-popup .popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .outlet-popup .popup{
    width: 70%;
  }
}

.outlet-popup .popup .text-center {
  font-weight: bold;
}
